/* Container styles */
.cost-master-container {
    text-align: center;
    padding: 50px 20px;
  }
  
  .centered-heading {
    color: #4a90e2;
    font-size: 48px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  /* Card styles */
  .cost-card {
    width: 100%;
    max-width: 600px;
    background: linear-gradient(135deg, #ff6b6b, #4ecdc4, #3aafa9);
    border: none;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
  }
  
  .cost-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
  }
  
  /* Table styles */
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 18px 26px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    color: #fff;
    font-weight: bold;
  }
  
  .table th {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .table td{
    background-color: black;
    font-family:'Times New Roman', Times, serif
  }
  
  /* Button styles */
  .button-col {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  
  .button-col button {
    background: linear-gradient(135deg, #ff4757, #ffac41);
    color: #fff;
    border: none;
    padding: 18px 34px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .button-col button:hover {
    background: linear-gradient(135deg, #ff3545, #ff9941);
  }
  