/* Center the search bar */
div {
    text-align: center; /* Center-align the content within the container */
  }
  
  input[type="text"] {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Center horizontally with top margin */
    display: block;
  }
  
  /* Adjust the title position */
  h1 {
    margin-top: 50px; /* Increase or decrease the margin as needed to lower the title */
  }
  
  /* Style the button (you can further customize this) */
  button {
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Style the card container */
  .location-card {
    text-align: center; /* Center-align card content */
    margin-top: 1%; /* Add margin to separate from the search bar */
   max-height: fit-content; 
    /* overflow-y:auto; */
    width: 10px;

  }